*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  
}

/* body {
  background: #333;
  color: #f2f2f2;
  min-height: 100%;
  min-width: 100%;
} */

.container {
  width: 90%;
  margin: auto;
}

.cards-container {
  display: -webkit-box;
  display: flex;
  border-radius: 6px;
  color: #333;
  /* background: #eee; */
  padding: 1em;
  overflow-x: hidden;
  position: relative;
  height: 17em;
}

.cards-container:hover {
  overflow-x: scroll;
}
.cards-container::-webkit-scrollbar {
  height: 6px;
  background-color: #f5f5f5;
}
.cards-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

.card {
  -webkit-box-flex: 1;
  width: 300px;
  flex: 1 0 18em;
  box-shadow: 0 1px 1rem -4px #000;
  background: #fff;
  margin: 0 1rem;
  /* overflow: hidden; */
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}
.card img {
  width: 350px;
  height: 10em;
  -o-object-fit: center;
  object-fit:cover;
}
.card:hover {
  box-shadow: 0 4px 2rem -4px #000;
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}

.card-content {
  padding: 1rem;
}

@media screen and (max-width: 625px) {
  .container {
    width: 100%;
  }

  .cards-container {
    padding: 0.5rem;
  }

  .card {
    margin: 0.5rem;
  }
}
