@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
  font-family: 'Roboto Mono' , monospace !important;
}

a {
  color: inherit;
  text-decoration: none;
}
::-webkit-scrollbar-thumb{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}
-webkit-scrollbar {
  height: 6px;
  background-color: #f5f5f5;
}
* {
  box-sizing: border-box;
}
